@font-face {
  font-family: "Montserrat";
  src: url(/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: rgb(35 39 47);
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  --soft: rgb(52 58 70);

  text-align: center;
}

#app {
  height: 100%;
  width: 100%;
}

button {
  font: inherit;
}
