@font-face {
  font-family: "Montserrat";
  src: url(./public/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  --soft: #242424;

  text-align: center;
}

button {
  font: inherit;
}
